<!-- Left-side action buttons -->
<div class="left-actions">
  <!-- Mobile-only reward button -->
  <button id="reward-action-button" class="action-card action-card--reward">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/RewardIcon.png" alt="Reward" />
    </span>
    <span class="action-card__badge action-card__badge--reward"></span>
  </button>
  <button id="miner-button" class="action-card action-card--miner">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/MinerIcon.png" alt="Miners" />
    </span>
  </button>
  <button id="pickaxe-button" class="action-card action-card--pickaxe">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/PickaxeIcon.png" alt="Pickaxes" />
    </span>
  </button>
  <button id="rebirth-button" class="action-card action-card--rebirth">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/RebirthIcon.png" alt="Rebirths" />
    </span>
    <span class="action-card__badge action-card__badge--rebirth"></span>
  </button>
  <button id="pets-button" class="action-card action-card--pets">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/PetIcon.png" alt="Pets" />
    </span>
  </button>
  <button id="achievements-button" class="action-card action-card--achievements">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/AchievementsIcon.png" alt="Achievements" />
    </span>
    <span id="achievements-badge" class="action-card__badge action-card__badge--achievements"></span>
  </button>
  <button id="maps-button" class="action-card action-card--maps">
    <span class="action-card__icon">
      <img class="action-card__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/MapIcon.png" alt="Maps" />
    </span>
  </button>
</div>
