<!-- Merchant Selling UI -->
<div id="merchant-ui" class="merchant-ui">
  <div class="merchant-ui__header">
    <div class="merchant-ui__title-group">
      <div class="merchant-ui__title">Ores</div>
      <div class="merchant-ui__subtitle">Ore Shop</div>
    </div>
    <button id="merchant-ui-close" class="merchant-ui__close">×</button>
  </div>
  <div id="merchant-ui-content" class="merchant-ui__content">
    <!-- Ore items will be dynamically added here -->
  </div>
  <div class="merchant-ui__footer">
    <button id="merchant-ui-sell-all" class="merchant-ui__sell-all-button">Sell All</button>
  </div>
</div>
