<!-- Mine Reset Upgrade UI -->
<div id="mine-reset-upgrade-ui" class="mine-reset-upgrade-ui">
  <div class="mine-reset-upgrade-ui__header">
    <div class="mine-reset-upgrade-ui__title-group">
      <div class="mine-reset-upgrade-ui__title">Mine Reset Upgrade</div>
      <div class="mine-reset-upgrade-ui__subtitle">Timer Shop</div>
    </div>
    <button id="mine-reset-upgrade-ui-close" class="mine-reset-upgrade-ui__close">×</button>
  </div>
  <div class="mine-reset-upgrade-ui__body">
    <div class="mine-reset-upgrade-ui__description">
      Increase your mine reset timer from 2 minutes to 5 minutes!
    </div>
    <div class="mine-reset-upgrade-ui__button-container">
      <button id="mine-reset-upgrade-button" class="mine-reset-upgrade-ui__button">
        <span class="mine-reset-upgrade-ui__button-text">2M</span>
      </button>
    </div>
    <div class="mine-reset-upgrade-ui__status" id="mine-reset-upgrade-status">
      <!-- Status will be updated dynamically -->
    </div>
  </div>
</div>
