<!-- Stats HUD Container (Middle Right) -->
<div class="stats-hud-container">
  <!-- Timed Reward -->
  <div id="reward-hud" class="reward-hud">
    <div id="reward-timer-text" class="reward-hud__timer">15m 00s</div>
    <button id="reward-button" class="reward-button">
      <span class="reward-button__icon">
        <img src="{{CDN_ASSETS_URL}}/icons/target.png" alt="Reward" />
      </span>
      <span class="reward-button__label">Reward</span>
    </button>
  </div>
  <!-- Trophy (Wins) -->
  <div class="stat-hud stat-hud--wins">
    <div class="stat-hud__value" id="wins-value">0</div>
    <div class="stat-hud__icon">
      <img class="stat-hud__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/TrophyIcon.png" alt="Wins" />
    </div>
  </div>

  <!-- Money -->
  <div class="stat-hud stat-hud--money">
    <div class="stat-hud__value" id="money-value">0</div>
    <div class="stat-hud__icon"><img class="coin-icon coin-icon--hud" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/CoinIcon.png" alt="coin" /></div>
  </div>

  <!-- Gems -->
  <div class="stat-hud stat-hud--gems">
    <div class="stat-hud__value" id="gems-value">0</div>
    <div class="stat-hud__icon">
      <img class="stat-hud__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/GemIcon.png" alt="Gems" />
    </div>
  </div>

  <!-- Power -->
  <div class="stat-hud stat-hud--power">
    <div class="stat-hud__value" id="power-value">0</div>
    <div class="stat-hud__icon">
      <img class="stat-hud__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/PowerIcon.png" alt="Power" />
    </div>
  </div>

  <!-- Rebirths -->
  <div class="stat-hud stat-hud--rebirths">
    <div class="stat-hud__value" id="rebirths-value">0</div>
    <div class="stat-hud__icon">
      <img class="stat-hud__icon-img" src="{{CDN_ASSETS_URL}}/icons/HUDIcons/RebirthIcon.png" alt="Rebirths" />
    </div>
  </div>
</div>
